model/midas_v21_small_256.pt
model/__pycache__/

benchmark/platform-tools/
.venv/


#Unused folders from flutter
linux
macos
ios

#AR image outputs
visualizations/session_*

#Latex compiler outputs
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.aux
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.snm
*.toc
*.glo
*.ist
*.lot
*.lof
*.sty
*.aux
*.acn